$color: #ff9393;
.VinInput {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    flex-direction: column;

    input {
        border-radius: 5px;
        caret-color: #1056ad;
        border: none;
        background: #F0F0F0;
        color: black;
        border-radius: 3px;
        font-size: 28px;
        text-transform: uppercase;
        font-weight: 600;
        padding: 10px;
    }

    &--invalid {
      input {
        border: 1px solid $color;
      }
    }
        
    &__Error {
        color: $color;
        font-size: 15px;
        margin-top: 5px;
        text-align: center;
    }
}

::-webkit-input-placeholder {
    color: #bbb
}

*:focus {
    outline: none;
}
